.style-profile-ui__progressbar {
  width: 100px;
  height: 100px;
  background: red;
  
  border-radius: 50px;
  transform: rotate(-90deg);

  -webkit-mask-image: url("../../assets/images/heart-progress-mask.svg");
  mask-image: url("../../assets/images/heart-progress-mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 90px;
  -webkit-mask-size: 90px;
}



progress {
  
  border: none;
  width: 100px;
  height: 100px;
  position: absolute;
    
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, $grey_light, $watermelon 340px );
    background: $watermelon;

}

progress::-webkit-progress-bar {
    background: linear-gradient(90deg, $grey_light, $watermelon 340px);
    background: $watermelon;
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, $grey_light, $watermelon 340px);
    background: $watermelon;
}

progress::-webkit-progress-bar {
  background: $grey_light;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}