.carousel-item-cover {

	height: 300px;
	background: $charcoal;
	color: #fff;
}

@-webkit-keyframes style-shuffle-pack {
    0% { opacity: 0; top: 100px; left: 50%; right: 50%; bottom: 50%; }
    100% { opacity: 1; top: 0px; left: 0px; right: 0px; bottom: 0px; }
}
@-webkit-keyframes style-shuffle-content {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.style-shuffle-pack {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: #fff;
	z-index: 5;
	color: $charcoal;
	-webkit-animation: style-shuffle-pack 0.5s ease-out backwards;
}



.style-shuffle-pack-wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	opacity: 0;

	.im-active & {
		opacity: 1;
		-webkit-animation: style-shuffle-content 0.3s ease-out backwards;
		-webkit-animation-delay: 0.7s;
	}

}

.style-shuffle-pack-close {
	position: absolute;
	top: 10px;
	right: 10px;
    width: 60px;
    height: 60px;
    font-size: 0;
    display: block;
    background: url("../../assets/images/close.svg") no-repeat center;
}


.style-shuffle-title,
.results-title {

	position: fixed;
	left: 20px;
	right: 20px;
	top: 50px;
	text-align: center;
	display: block;
	background: #fff;
}

@-webkit-keyframes slide-right {
    0% { left: calc(50% - 150px); right: auto;  }
    100% { left: 500px;  right: auto;  }
}

@-webkit-keyframes slide-left {
    0% { right: calc(50% - 150px); left: auto;  }
    100% { right: 500px;left: auto; }
}

@-webkit-keyframes style-shuffle-loading {
    0% { opacity: 0;  }
    100% { opacity: 1; }
}

.style-shuffle-item {

	position: absolute;
	left: calc(50% - 150px);
	right: calc(50% - 150px);
	top: 100px;
	width: 300px;
	height: 300px;
/*	padding: 20px;*/
	background: $grey_light;


	img {  width: 300px; }

	&.im-offscreen { display:none; }

	&.thumbs-up {
		-webkit-animation: slide-right 0.7s ease-in forwards;
	}
	&.thumbs-down {
		-webkit-animation: slide-left 0.7s ease-in forwards;
	}
}

.style-shuffle-ratings {
	position: fixed;
	top: 570px;
	left: calc(50% - 70px);;
	background: #fff;
}


.style-shuffle-rating {

    background-position: 10px 11px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 0;
    display: block;
    float: left;
    border-bottom: 0;
    background: $mint ;
    color: #fff;
    margin: 5px;

    span {
    	width: 100%;
 		height: 100%;
 		display: block;
		background-color: #fff;
		-webkit-mask: url("../../assets/images/thumb.svg") no-repeat center;
		mask: url("../../assets/images/thumb.svg") no-repeat center;
	}

    &.active {
    -webkit-animation: thumbs-up 0.4s ease-out;
    -webkit-animation-delay: 0s;
    }


    &.thumbs-down {
    	transform: rotate(180deg);

    	&.active {
                -webkit-animation: thumbs-down 0.4s ease-out;
            }
    }
       
       
}



.carousel-item-cover {
	overflow: hidden;

	&:after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 1;
	  background: linear-gradient(to bottom, transparent 0%, black 100%);
	}
}

.carousel-cover {
	position: absolute;
	top: 0px;
	left: -60px;
    max-width: 250px;
	z-index: 1;

}

.carousel-title {

	position: absolute;
	bottom: 40px;
	z-index: 2;
	margin-bottom: 0;

}


@-webkit-keyframes transition-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes transition-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.scale-quiz-page,
.this-or-that-page {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	height: 700px;




	&.rated {
		&:after {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: 1;
		  background: #fff;
		  opacity: 0;
		-webkit-animation: transition-in 0.5s ease-out forwards;
		-webkit-animation-delay: 1.5s;
		
		}
	}

	&.removing {
		display: none;
	}

	

}


.this-or-that-page  {

	&.rated {
		&:after {
			display: none;
		}
	}

	&.round-3.rated {
		background: $mint;

		.this-or-that-title,
		.this-or-that-label {
			opacity: 0;
		}

		.this-or-that-select.selected {
			width: 80%;
			margin-left: 10%;
			border-width: 10px;
		}

	}
}




.scale-quiz-title,
.this-or-that-title {
	padding: 20px 0;
	text-align: center;
}


.scale-quiz-selects,
.this-or-that-selects {
	margin: 1%;

}
 

.scale-quiz-select,
.this-or-that-select {
	width: 33%;
	height: 405px;
	position: relative;
	overflow: hidden;
	position: absolute;
	top: 60px;
	left: 2px;
	border: 1px solid #fff;

	&:nth-child(2) {
		left: 33.6%;
	}

	&:nth-child(3) {
		left: 66.6%;
	}


	.scale-quiz-rating,
	.this-or-that-rating {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		bottom: 0px;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1));

		.scale-quiz-label,
		.this-or-that-label {
			border: 2px solid $charcoal;
    		background: #fff;
    		position: absolute;
    		bottom: 10px;
    		left: 10px;
    		right: 10px;
    		text-align: center;
    		text-transform: uppercase;    
    		padding: 0.5rem 0.7rem;
    		font-size: .7rem;
    		letter-spacing: .04em;    
    		font-weight: 500;
		}
	}
 
	img {
		position: absolute;
		left: calc(50% - 280px/2);
		max-width: 270px;
	}

	.rated & {
		z-index: 1;
		-webkit-animation: transition-out 0.7s ease-out forwards;	
	}

	.round-3.rated & {
		-webkit-animation: none;
		display: none !important;


	}


	&.selected {
		-webkit-animation: none;
		opacity: 1;
		width: 66%;
		z-index: 2;
		left: calc(66%/2/2);
		transition-duration: 0.7s;

		.scale-quiz-label,
		.this-or-that-label { 
			background: $charcoal;
			color: #fff;
		}

	}

	.round-3.rated & { 

		&.selected {
			display: block !important;

		}
	}

}

a.round-3-done-button,
a.style-shuffle-summary-button {
	border: 2px solid $charcoal;
	background: #fff;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	text-align: center;
	text-transform: uppercase;    
	padding: 0.5rem 0.7rem;
	font-size: .7rem;
	letter-spacing: .04em;    
	font-weight: 500;
	display: none;
	color: $charcoal;
	text-decoration: none;

	.round-3.rated &,
	.im-active & {
		display: block;
	}
}


.this-or-that-select {
	width: 50%;
	height: 510px;
    position: relative;
    float: left;
    left: auto !important;
    top: auto;

	&.selected {
		width: 50%;
	}

	img {
		left: calc(50% - 340px/2);
		max-width: 340px;
	}
}



.scale-playback {
	text-align: center;
}

.scale-playback-limiter {

	padding: 0 30px;
	
}



.playback-bubble {
	display: block;
	display: inline-block;
	background: $mint;
	text-align: center;
	border-radius: 50%;
	font-size: 0.7rem;
	overflow: hidden;
	display: none;
	color: #fff;

	&.little {
		display: inline-block;
		height: 50px;
		line-height: 50px;
		width: 50px;
	}

	&.somewhat {
		display: inline-block;
		height: 100px;
		width: 100px;
		font-size: 0.9rem;
		line-height: 100px;
	}

	
	&.very {
		display: inline-block;
		height: 150px;
		width: 150px;
		font-size: 1.3rem;
		line-height: 150px;
	}
}


.round-2, 
.round-3 {
	.this-or-that-select {
		display: none;
	}
}