.carousel-item-cover {

	height: 300px;
	background: $charcoal;
	color: #fff;
}

@-webkit-keyframes style-shuffle-pack {
    0% { opacity: 0; top: 100px; left: 50%; right: 50%; bottom: 50%; }
    100% { opacity: 1; top: 0px; left: 0px; right: 0px; bottom: 0px; }
}
@-webkit-keyframes style-shuffle-content {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.style-shuffle-pack {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: #fff;
	z-index: 5;
	color: $charcoal;
	-webkit-animation: style-shuffle-pack 0.5s ease-out backwards;
}



.style-shuffle-pack-wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	opacity: 0;

	.im-active & {
		opacity: 1;
		-webkit-animation: style-shuffle-content 0.3s ease-out backwards;
		-webkit-animation-delay: 0.7s;
	}

}

.style-shuffle-pack-close,
.drilldown-close {
	position: absolute;
	top: 10px;
	right: 10px;
    width: 60px;
    height: 60px;
    font-size: 0;
    display: block;
    background: url("../../assets/images/close.svg") no-repeat center;
}


.style-shuffle-title,
.results-title {

	position: absolute;
	left: 20px;
	right: 20px;
	top: 30px;
	text-align: center;
	display: block;
	background: #fff;

	.item-drilldown & {
		top: 60px;
		background: none;
	}


}

@-webkit-keyframes slide-right {
    0% { left: calc(50% - 150px); right: auto;  }
    100% { left: 500px;  right: auto;  }
}

@-webkit-keyframes slide-left {
    0% { right: calc(50% - 150px); left: auto;  }
    100% { right: 500px; left: auto; }
}

@-webkit-keyframes slide-right-fullbleed {
    0% { left: 0; right: auto;  }
    100% { left: 500px;  right: auto;  }
}

@-webkit-keyframes slide-left-fullbleed {
    0% { right: 0; left: auto;  }
    100% { right: 500px; left: auto; }
}

@-webkit-keyframes style-shuffle-loading {
    0% { opacity: 0;  }
    100% { opacity: 1; }
}

.style-shuffle-item {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 1;

	&.playback {
    	padding: 70px 0px;
    	background: #fff;

    	h6, h3, .playback-bubbles, p {
    		padding-right: 20px;
    		padding-left: 20px;
    	}
	}


	.style-shuffle__outfit {  
		position: absolute;
		left: calc(50% - 150px);
		right: calc(50% - 150px);
		width: 300px; 
		top: 70px;
		border: 1px solid #fff;
		border-bottom: 300px solid #fff;
	}

	

	&.im-offscreen { display:none; }

	&.thumbs-up {
		img { -webkit-animation: slide-right 0.7s ease-in forwards; }
	}
	&.thumbs-down {
		img { -webkit-animation: slide-left 0.7s ease-in forwards; }
	}
}

.fullbleed {
	
	.style-shuffle__outfit {
		width: 100%;
		left: 0;
		right: 0;
	}

	.style-shuffle-item {

		&.thumbs-up {
			img { -webkit-animation: slide-right-fullbleed 0.7s ease-in forwards; }
		}
		&.thumbs-down {
			img { -webkit-animation: slide-left-fullbleed 0.7s ease-in forwards; }
		}

	}

}	



.style-shuffle-ratings {
	position: absolute;
	bottom: 170px;
	left: 0;
	right: 0;
	text-align: center;
    bottom: 100px;
    height: 140px;
    background: #fff;

	div {
		left: calc(50% - 70px);
		right: calc(50% - 70px);
		width: 140px;
		margin: 0 auto;
		height: 80px;
	}

	
}


.only-some-items {

	text-align: center;
	bottom: -30px;
	text-decoration: none;
	font-size: 1rem;
	color: #fff;
	clear: both;
	display: block;
	padding: 0.5rem 0;
	background: rgba(255,255,255,0.4);

	span {
		padding: 0.4rem 0.7rem;
		background: $charcoal;
		border-radius: 30px;
		font-size: 0.9rem;
	}
}

.fullbleed {

	.style-shuffle-ratings {

		bottom: 60px;
		
		background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.5) 30%, white 100%);

		> div {    
			right: 20px;
			position: absolute;
			left: auto;
			margin: 0;

		}
	}

	.only-some-items {
		position: absolute;
		bottom: auto;
		left: 20px;

    border-radius: 40px;
    border: 2px solid $mint;
    line-height: 60px;
    padding: 0 1.5rem;
		
	}
}


.style-shuffle-rating {

    background-position: 10px 11px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 0;
    display: block;
    float: left;
    border-bottom: 0;
    background: $charcoal ;
    color: #fff;
    margin: 5px;

    span {
    	width: 100%;
 		height: 100%;
 		display: block;
		background-color: #fff;
		-webkit-mask: url("../../assets/images/thumb.svg") no-repeat center;
		mask: url("../../assets/images/thumb.svg") no-repeat center;
	}

    &.active {
    -webkit-animation: thumbs-up 0.4s ease-out;
    -webkit-animation-delay: 0s;
    }


    &.thumbs-down {
    	transform: rotate(180deg);

    	&.active {
                -webkit-animation: thumbs-down 0.4s ease-out;
            }
    }   
       
}


@-webkit-keyframes heart {
    
    0% { transform: rotate(0deg); }
    50% { transform: rotate(0) scale(1.3); }
    100% { transform: rotate(0deg); }
}

@-webkit-keyframes x {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(0) scale(0.7); }
    100% { transform: rotate(0deg); }
}



 .iconography  {

 	.style-shuffle-rating {

    	span {
			-webkit-mask-image: url("../../assets/images/heart.svg");
			mask-image: url("../../assets/images/heart.svg");
			-webkit-animation: heart 0.4s ease-out;
            -webkit-animation-delay: 0s;
    	}

    	&.active {
			-webkit-animation: heart 0.4s ease-out;
            -webkit-animation-delay: 0s;
    	}

    	&.thumbs-down {

    		span {
				-webkit-mask-image: url("../../assets/images/x.svg");
				mask-image: url("../../assets/images/x.svg");
				-webkit-animation: x 0.4s ease-out;
            	-webkit-animation-delay: 0s;
			}
			&.active {
				-webkit-animation: x 0.4s ease-out;
	            -webkit-animation-delay: 0s;
	    	}
		}
    }
}





.carousel-item-cover {
	overflow: hidden;

	&:after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  z-index: 1;
	  background: linear-gradient(to bottom, transparent 0%, black 100%);
	}
}

.carousel-cover {
	position: absolute;
	top: 0px;
	left: -60px;
    max-width: 250px;
	z-index: 1;

}

.carousel-title {

	position: absolute;
	bottom: 20px;
	z-index: 2;
	margin-bottom: 0;

}


@-webkit-keyframes transition-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes transition-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.scale-quiz-page,
.this-or-that-page {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	height: 650px;




	&.rated {
		&:after {
		  content: '';
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: 1;
		  background: #fff;
		  opacity: 0;
		-webkit-animation: transition-in 0.5s ease-out forwards;
		-webkit-animation-delay: 1.5s;
		
		}
	}

	&.removing {
		display: none;
	}

	

}


.this-or-that-page  {

	&.rated {
		&:after {
			display: none;
		}
	}

	&.round-3.rated {
		background: $mint;

		.this-or-that-title,
		.this-or-that-label {
			opacity: 0;
		}

		.this-or-that-select.selected {
			width: 80%;
			margin-left: 10%;
			border-width: 10px;
		}

	}
}




.scale-quiz-title,
.this-or-that-title {
	padding: 20px 0;
	text-align: center;
	bold {
	@include bold;
	display: inline-block;
		&:after {
			content: " ";
			background-color: $mint_light;
			height: 5px;
			display: block;


		}
	}
}


.scale-quiz-selects,
.this-or-that-selects {
	margin: 1%;

}
 

.scale-quiz-select,
.this-or-that-select {
	width: 33%;
	height: 405px;
	position: relative;
	overflow: hidden;
	position: absolute;
	top: 60px;
	left: 2px;
	border: 1px solid #fff;

	&:nth-child(2) {
		left: 33.6%;
	}

	&:nth-child(3) {
		left: 66.6%;
	}


	.scale-quiz-rating,
	.this-or-that-rating {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		bottom: 0px;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1));

		.scale-quiz-label,
		.this-or-that-label {
			border: 2px solid $charcoal;
    		background: #fff;
    		position: absolute;
    		bottom: 10px;
    		left: 10px;
    		right: 10px;
    		text-align: center;
    		text-transform: uppercase;    
    		padding: 0.5rem 0.7rem;
    		font-size: .7rem;
    		letter-spacing: .04em;    
    		@include bold;
		}
	}
 
	img {
		position: absolute;
		left: calc(50% - 280px/2);
		max-width: 270px;
	}

	.rated & {
		z-index: 1;
		-webkit-animation: transition-out 0.7s ease-out forwards;	
	}

	.round-3.rated & {
		-webkit-animation: none;
		display: none !important;


	}


	&.selected {
		-webkit-animation: none;
		opacity: 1;
		width: 66%;
		z-index: 2;
		left: calc(66%/2/2);
		transition-duration: 0.7s;

		.scale-quiz-label,
		.this-or-that-label { 
			background: $charcoal;
			color: #fff;
		}

	}

	.round-3.rated & { 

		&.selected {
			display: block !important;

		}
	}

}

a.round-3-done-button,
a.style-shuffle-summary-button,
a.wrap-up-button,
a.playback-button {
	border: 2px solid $charcoal;
	background: #fff;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	text-align: center;
	text-transform: uppercase;    
	padding: 0.5rem 0.7rem;
	font-size: .7rem;
	letter-spacing: .04em;    
	@include bold;
	display: none;
	color: $charcoal;
	text-decoration: none;

	.round-3.rated &,
	.im-active & {
		display: block;
	}
}

.skip-category {
	position: absolute;
	top: 500px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 0.9rem;

	a {
		color: $charcoal;
		text-decoration: none;
		border-bottom: 1px solid $charcoal;
	}

	.this-or-that-page & {
		top: 620px;
	}
}


.this-or-that-select {
	width: 50%;
	height: 510px;
    position: relative;
    float: left;
    left: auto !important;
    top: auto;

	&.selected {
		width: 50%;
	}

	img {
		left: calc(50% - 340px/2);
		max-width: 340px;
	}
}



.scale-playback {
	text-align: center;
}

.scale-playback-limiter {

	padding: 0 30px;
	
}

.playback-bubbles {
	@include clear;
	margin-bottom: 20px;
}


@-webkit-keyframes expand {
    0% { width: 0; height: 0; }
    100% { width: 300px; height:300px  }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1;  }
}

.playback-bubble {
	display: block;
	display: inline-block;
	background: $mint;
	text-align: center;
	border-radius: 50%;
	font-size: 0.7rem;
	overflow: hidden;
	width: 50px;
	height: 50px;
	color: #fff;
	display: none;
	position: relative;
	float: left;
    border: 2px solid #fff;
	background: url("../../assets/images/playback/playback-bubble-default.png") no-repeat center;
	background: #86C8BC;
	color: #001E60;

/*	&.playback-bubble-classic { background-image: url("../../assets/images/playback/playback-bubble-classic.png");  }
	&.playback-bubble-active { background-image: url("../../assets/images/playback/playback-bubble-active.png"); }
	&.playback-bubble-boho { background-image: url("../../assets/images/playback/playback-bubble-boho.png"); }
	&.playback-bubble-coastal { background-image: url("../../assets/images/playback/playback-bubble-coastal.png"); }
	&.playback-bubble-preppy { background-image: url("../../assets/images/playback/playback-bubble-preppy.png"); }
	&.playback-bubble-edgy { background-image: url("../../assets/images/playback/playback-bubble-edgy.png"); }
	&.playback-bubble-bold { background-image: url("../../assets/images/playback/playback-bubble-bold.png"); }
	&.playback-bubble-heritage { background-image: url("../../assets/images/playback/playback-bubble-heritage.png"); }
	&.playback-bubble-romantic { background-image: url("../../assets/images/playback/playback-bubble-romantic.png"); }
	&.playback-bubble-contemporary { background-image: url("../../assets/images/playback/playback-bubble-contemporary.png"); }*/

	&.playback-bubble-classic { background: #8DA6DD; .sense-details { background: #8DA6DD; } }
	&.playback-bubble-active { background: #D2E137; .sense-details { background: #D2E137; } }
	&.playback-bubble-boho { background: #DFE6A3; .sense-details { background: #DFE6A3; } }
	&.playback-bubble-coastal { background: #86C8BC; .sense-details { background: #86C8BC; } }
	&.playback-bubble-preppy { background: #001E60; color: #fff; .sense-details { background: #001E60; }  }
	&.playback-bubble-edgy { background: #2E6BF1; color: #fff; .sense-details { background: #2E6BF1; } }
	&.playback-bubble-bold { background: #FF5955; .sense-details { background: #FF5955; } }
	&.playback-bubble-heritage { background: #246358; color: #fff; .sense-details { background: #246358; } &.m { background: #595E2D; .sense-details { background: #595E2D; } }}
	&.playback-bubble-romantic { background: #DCB6B5; .sense-details { background: #DCB6B5; } }
	&.playback-bubble-contemporary { background: #F3ECD3; .sense-details { background: #F3ECD3; } }

	&.playback-bubble-preppy,
	&.playback-bubble-edgy,
	&.playback-bubble-heritage {
		a { border-color: #fff !important; color: #fff !important; } > span span:after { background-image: url("../../assets/images/plus-darkmode.svg"); }
		&.expanded .sense-details h5 span:after {
			background-image: url("../../assets/images/minus-darkmode.svg") ;
		}

	}

	background-size: 100%;

	> span {
		position: absolute;
		top: calc(50% - 10px);
		left: 0;
		right: 0;

		span {
			position: relative;
			padding-right: 20px;
			display: inline-block;
			
			&:after {
				background: url("../../assets/images/plus.svg") no-repeat;
				content: ' ';
				position: absolute;
				top: 0px;
				right: 0;
				width: 16px;
				height: 16px;
			}
		}
	}

	&.little {
		display: inline-block;
		height: 50px;
		line-height: 50px;
		width: 50px;
	}

	&.somewhat {
		display: inline-block;
		height: 100px;
		width: 100px;
		font-size: 0.9rem;
		line-height: 100px;
	}

	
	&.very {
		display: inline-block;
		height: 150px;
		width: 150px;
		font-size: 1.3rem;
		line-height: 150px;
	}

	.sense-details { display:none; }

	.sense-details-fadein { opacity: 0 }

	&.expanded {
		
		.sense-details {
			position: absolute;
			top: 200px;
			left: calc(50% - 150px);
			right: calc(50% - 150px);
			width: 300px;
			height: 300px;
			z-index: 10000;
			display: block;
			padding: 50px 30px;
			position: fixed;
			border-radius: 50%;
			-webkit-animation: expand 0.5s ease-in forwards;
			box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, .2);

			h5 {

				span {
					position: relative;
					padding-right: 20px;
			
					&:after {
						background: url("../../assets/images/minus.svg") no-repeat;
						content: ' ';
						position: absolute;
						top: 8px;
						right: 0;
						width: 16px;
						height: 16px;
					}
				}
			}

			.sense-details-fadein {
				display: block;
				-webkit-animation: fade-in 0.2s ease-in forwards;
				-webkit-animation-delay: 0.5s;
			}

		}



		a {
			padding: 10px 20px;
			border: 1px solid #001E60;
			border-radius: 44px;
			line-height: 44px;
			text-decoration: none;
			color: #001E60;
		}
	}
}

@-webkit-keyframes interstitial-fading {
    0% { opacity: 1; }
    100% { opacity: 0;  }
}
@-webkit-keyframes progressbar {
    0% { left: -0; }
    100% { left: -200px;  }
}


.interstitial {
	background: $mint;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	z-index: 200;
	padding: 40% 40px 0;
	-webkit-animation: drilldown-fading 0.5s ease-in forwards;
	-webkit-animation-delay: 3s;

	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3.5rem;
	}

	.progress {

			background: url("../../assets/images/progress.svg") no-repeat -30px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 50px;
			font-size: 0;
			-webkit-animation: progressbar 4s ease-in forwards;

	}

	.im-offscreen & {
		display: none;
	}
}


.round-2, 
.round-3 {
	.this-or-that-select {
		display: none;
	}
}

@-webkit-keyframes drilldown-opening {
    0% { opacity: 0; top: 100px; }
    100% { opacity: 1; top: 0; }
}
@-webkit-keyframes drilldown-closing {
    0% { opacity: 1; top: 0; }
    100% { opacity: 0; top: 100px; }
}


.item-drilldown {
	background: #f2f3f4;
	position: absolute;
	top: 1000px;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 100px 20px 20px;
	height: 100vh;
	text-align: center;
	display: block;
    overflow-y:scroll;
    overflow-x:hidden;

	.drilldown-is-open & {
		display: block;
		-webkit-animation: drilldown-opening 0.5s ease-out forwards;
	}	
	.drilldown-is-closing & {
		-webkit-animation: drilldown-closing 0.5s ease-out forwards;
	}
}

.item-drilldown__items {
	@include clear;
	max-width: 300px;
    margin: 0 auto 20px;
	background: #fff;

	.fade-out & {
		background: none;
	}
}

.item-drilldown__item {
	width: 50%;
	display: inline-flex;
	border: 2.5px solid #f2f3f4;
	float: left;
	position: relative;
	&:after {
		content: ' ';
		position: absolute;
		top: 5px;
		right: 5px;
		width: 24px;
		height: 24px;
		z-index: 1;
		background: url("../../assets/images/thumb.svg") no-repeat center;
		background-size: 16px ;
	}

	&.liked {
		&:after {
			background-image: url("../../assets/images/thumb-active.svg");
    		-webkit-animation: heart 0.4s ease-out;
    		-webkit-animation-delay: 0s;
		}

	}
}

.grid-of-5,
.grid-of-3 {

	.item-drilldown__items {
		max-width: 260px;
	}



	.item-drilldown__items--column {
		width: 59%;
		display: block;
		float: left;


		&:nth-child(2) {
			width: 41%;
			border-left: 5px solid #f2f3f4;
		}
	}

	.item-drilldown__item {
		width: 100%;
		max-width: 100%;
		display: block;
		border: 0;
		border-top: 5px solid #f2f3f4;
		
	}	

}

.grid-of-3 {

	.item-drilldown__items {
		max-width: 360px;
	}

	.item-drilldown__items--column {
		width: 42%;

		&:nth-child(1) {
			border-right: 5px solid #f2f3f4;
		}

		&:nth-child(2) {
			width: 58%;
			border: 0;
		}
	}

}

.grid-of-2 {

	.item-drilldown__items {
		max-width: 100%;
		height: 500px;
		position: relative;
		background: transparent;
	}

	.item-drilldown__item {
		width: 55%;
		border: 5px solid #f2f3f4;

		&:nth-child(2) {
			position: absolute;
    		right: 0;
    		bottom: 0;
		}
	}
}

.iconography {

	.item-drilldown__item {
		&:after {
			background-image: url("../../assets/images/heart.svg") 
		}
		&.liked {
			&:after {
				background-image: url("../../assets/images/heart-active.svg");
			}
		}
	}
}


@-webkit-keyframes drilldown-fading {
    0% { opacity: 1; }
    100% { opacity: 0;  }
}


@-webkit-keyframes slide-right-item {
    0% { left: calc(50% - 150px); right: auto; opacity: 1; }
    100% { left: 300px;  right: auto; opacity: 0; }
}

@-webkit-keyframes slide-left-item {
    0% { right: calc(50% - 150px); left: auto; opacity: 1; }
    100% { right: 300px; left: auto; opacity: 0; }
}




.fade-out {

	.style-shuffle__outfit {
		opacity: 0;
	}

	.style-shuffle-title,
	.item-drilldown__next,
	.drilldown-close {
		
		-webkit-animation: drilldown-fading 0.5s ease-in forwards;

	}

	.item-drilldown__item {

		-webkit-animation: slide-left-item 0.7s ease-in forwards;

		&.liked {
		-webkit-animation: slide-right-item 0.7s ease-in forwards;
		}

	}


}

.item-drilldown__next {

	clear: both;
	display: block;
	border: 1px solid $charcoal;
	line-height: 44px;
	text-decoration: none;
	font-size: 1rem;
	color: $charcoal;
	margin: 1rem auto;
	width: 14rem;

}


.personality {
	position: relative;
	display: block;

	.style-sense {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		background: #fff;
		z-index: 1;
		height: 1000px;
		
	}
}


.playback {

	h3 {
		font-weight: 600; 
		font-size: 1.5rem; 
		margin-bottom: 20px;
	}

	h6.eyebrow {
		font-size: 12px;
		font-weight: 800;
		line-height: 16px; 
		letter-spacing: 0.18px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}
