<div style="display: block; clear: both; padding: 20px; margin-top: 30px; font-size: 0.8rem;">

	<h3 style="padding: 0;">Style inspiration</h3>
	
	Please review your results above, and tell us what you think about it. <br />Also, we compiled a style inspiration gallery on the next page. <br /><br />

	<a href="gallery.html#{{ personality.name | downcase | remove: ' ' }}" style="text-decoration: none; padding: 5px 10px; background: #86C8BC; color: #001E60;">Check out your style inspiration gallery</a></a>

</div>