{% for post in site.categories['senses']  %} 

	{% if post.lob contains page.lob %}

	{% assign pack_number = post.url | date: "%d" %}

	{% assign sense_name = post.title | downcase %}

	{% assign sense_tag = post.url | date: "%d" %}

	{% for post in site.categories['senses-outfits'] %} 

		{% if post.url contains sense_name %}

			<div class="style-shuffle-item  {{ sense_name  }} {{ post.title | downcase }}-{{ post.url | date: '%d' }} ">

				<h5 class="style-shuffle-title">Would you wear this?</h5>

				<div class="style-shuffle-outfit-and-items">

					{% if page.lob == 'women' %}

						{% assign outfit-image =  post.womens-outfit  | replace: 'upload/', 'upload/w_600,q_auto/' %}

					{% else %}

						{% if sense_name == 'bold' %}

							{% assign outfit-image = '../assets/images/style-senses/bold/bold-outfit-1.jpg' %}

						{% else %}

							{% assign outfit-image =  post.mens-outfit  | replace: 'upload/', 'upload/w_600,q_auto/' %}

						{% endif %}

					{% endif %}

					<img src="{{ outfit-image }}" alt=" {{ post.title }}" class="style-shuffle__outfit" />	

					
					<div class="style-shuffle-ratings">

						<div>
							<a href="#" class="style-shuffle-rating thumbs-down " data-diff='0'><span>Thumbs down</span></a>
							<a href="#" class="style-shuffle-rating thumbs-up style-shuffle-rating-{{ sense_tag }}" data-diff='30'><span>Thumbs up</span></a>
						</div>

						<a href="#"class="only-some-items only-some-items-{{ sense_tag }}"><span>Only some items</span></a>

					</div>



					{% if page.lob == 'women' %}

						{% for sku in post.women-skus %} 

							{% assign grid-length = forloop.length %} 

						{% endfor %}						

					{% else %}

						{% for sku in post.mens-skus %} 

							{% assign grid-length = forloop.length %} 

						{% endfor %}							

					{% endif %}

					<div class="item-drilldown grid-of-{{ grid-length }}">

						<h5 class="style-shuffle-title">Which items would you wear?</h5>

						<div class="item-drilldown__items">

							<div class="item-drilldown__items--column">

								{% if page.lob == 'women' %}

									{% for sku in post.womens-skus limit: 2 %}

										<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

									{% endfor %}


								{% else %}

									{% for sku in post.mens-skus limit: 2 %}

										<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

									{% endfor %}


								{% endif %}

								

							</div>

							<div class="item-drilldown__items--column">

								{% if page.lob == 'women' %}

									{% for sku in post.womens-skus offset: 2 %}

										<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

									{% endfor %}

								{% else %}

									{% for sku in post.mens-skus offset: 2 %}

										<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

									{% endfor %}

								{% endif %}

							</div>

						</div>

						<a href="#" class="item-drilldown__next">Next</a>

						<a href="" class="drilldown-close">Close</a>

					</div>

				</div>

			</div>

		{% endif %}

	{% endfor %}

	{% endif %}

{% endfor %}

