{% assign total = 0 %}

{% for post in site.categories['senses']  %} 

	{% if post.lob contains page.lob %}

		{% assign pack_number = post.url | date: "%d" %}

		{% assign sense_name = post.title | downcase %}

		{% assign sense_tag = post.url | date: "%d" %}

		

		{% for post in site.categories['senses-outfits'] %} 

			{% if post.url contains sense_name %}

			{% assign outfit_tag = post.url | date: "%d" %}

			{% assign total-give-gets = total-give-gets | plus: 1 %}

				<div class="style-shuffle-item  {{ sense_name  }} {{ post.title | downcase }}-{{ post.url | date: '%d' }} only-{{ total-give-gets }}-left ">

					<div class="interstitial">
						Finally, let’s rate some outfits for the upcoming season
					</div>

					<h5 class="style-shuffle-title">Would you wear this?</h5>

					<div class="style-shuffle-outfit-and-items">

						{% if page.lob == 'w' %}

							{% assign outfit-image =  post.w-outfit  | replace: 'upload/', 'upload/w_600,q_auto/' %}

						{% else %}
							
							{% assign outfit-image =  post.m-outfit  | replace: 'upload/', 'upload/w_600,q_auto/' %}							

						{% endif %}

						<img src="{{ outfit-image }}" alt="{{ post.title }} outfit" class="style-shuffle__outfit" />	
						
						<div class="style-shuffle-ratings">

							<div>
								<a href="#" class="style-shuffle-rating thumbs-down " data-diff='0'><span>Thumbs down</span></a>
								<a href="#" class="style-shuffle-rating thumbs-up style-shuffle-rating-{{ sense_tag }}" data-diff='30'><span>Thumbs up</span></a>
							</div>

							<a href="#"class="only-some-items only-some-items-{{ sense_tag }}"><span>Only some items</span></a>

						</div>

						{% if page.lob == 'w' %}

							{% for sku in post.w-skus %} 

								{% assign grid-length = forloop.length %} 

							{% endfor %}						

						{% else %}

							{% if sense_name == 'bold' %}

								{% assign grid-length = 4 %} 

							{% else %}

								{% for sku in post.m-skus %} 

									{% assign grid-length = forloop.length %} 

								{% endfor %}							

							{% endif %}

						{% endif %}

						<div class="item-drilldown grid-of-{{ grid-length }}">

							<h5 class="style-shuffle-title">Which items would you wear?</h5>

							<div class="item-drilldown__items">

								<div class="item-drilldown__items--column">


									{% if page.lob == 'w' %}

										{% for sku in post.w-skus limit: 2 %}

											<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

										{% endfor %}

									{% else %}

										{% for sku in post.m-skus limit: 2 %}

											<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

										{% endfor %}									

									{% endif %}

								</div>

								<div class="item-drilldown__items--column">

									{% if page.lob == 'w' %}

										{% for sku in post.w-skus offset: 2 %}

											<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

										{% endfor %}

									{% else %}

										{% for sku in post.m-skus offset: 2 %}

											<div class="item-drilldown__item item-drilldown__item-{{ sense_tag }}"   data-diff='7'><img src="{{ sku }}" ></div>

										{% endfor %}

									{% endif %}

								</div>

							</div>

							<a href="#" class="item-drilldown__next">Next</a>

							<a href="" class="drilldown-close">Close</a>

						</div>

					</div>

				</div>

			{% endif %}

		{% endfor %}

	{% endif %}

{% endfor %}

