


<div class="carousel-item {% if post.category == 'shop-similar-items' %} shop-similar-item {% endif %} ">

<!-- <div style="position: absolute; z-index: 3;">{{ tip_tag }} {{ post.url | date: "%m" }}	</div> -->


	<svg class="carousel-item--loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(242, 243, 244); display: block; shape-rendering: auto;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" fill="none" stroke="#81E6D3" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"><animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform></circle></svg>
		

	<div class="carousel-item-content">

		<div class="carousel-item__image">

			{% include image.html %} 

		</div>

		<div class="carousel-item__details">

			<p class="carousel-item__brand">{{ post.brand }}</p>
			<p class="carousel-item__title">{{ post.title }}</p>
			<p class="carousel-item__price">{{ post.price }}</p>


			<div class="color-swatches">
				
				{% for item in post.colors  limit:3 %}
					<a href="#" class="color-swatch "><span style="background-color: {{ item }};"></span></a>
				{% endfor %}
			
			</div>

		</div>


			<a href="#" class="carousel-item__action carousel-item__actions--bookmark">Bookmark</a>

			<div class="carousel-item__actions--ratings">
				<a href="#" class="carousel-item__action carousel-item__actions--ratings--dislike clicky">Dislike</a>
				<a href="#" class="carousel-item__action carousel-item__actions--ratings--like">Like</a>
			</div>


			<a href="#" class="carousel-item__button carousel-item__button--see-similar">See similar</a>

		<div class="overlay">

			<p class="clicky"></p>

		</div>

	</div> 

</div>

