<div class="carousel-item carousel-item-pair">		

	<svg class="carousel-item--loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(242, 243, 244); display: block; shape-rendering: auto;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" fill="none" stroke="#81E6D3" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"><animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform></circle></svg>

	<div class="carousel-item-content">

		
		<div class="pair">

			{% for post in site.categories['items'] %} 

				{% assign tip_item_tag = post.url | date: "%m" %}
				{% assign item_tag = post.date | date: "%m%d" %}
			
				{% if tip_item_tag ==  tip_tag %}

				<div class="carousel-item-pair-item pair-main-item">				

					<!-- <div style="position: absolute; z-index: 3; background: yellow"> main-item {{ item_tag }}</div> -->

					{% include pairing-item.html %}

				</div>
					

					{% for post in site.categories['pairing-items'] %} 

						{% assign pairing_tag = post.date | date: "%m%d" %}

						{% if item_tag ==  pairing_tag %}

							<div class="carousel-item-pair-item pair-pairing-item">				

								<!-- <div style="position: absolute; z-index: 3; background: yellow"> main-item {{ item_tag }} pairing-tag {{ pairing_tag }}	</div> -->

								{% include pairing-item.html %}

							</div>

						{% endif %}

					{% endfor %}

				{% endif %}

			{% endfor %}


		

			

		</div>

		<div class="style-tips">
			
			{{ post.content }}

		</div>


		<a href="#" class="carousel-item__action carousel-item__actions--bookmark">Bookmark</a>

		<div class="carousel-item__actions--ratings">
			<a href="#" class="carousel-item__action carousel-item__actions--ratings--dislike clicky">Dislike</a>
			<a href="#" class="carousel-item__action carousel-item__actions--ratings--like">Like</a>
		</div>


		<a href="#" class="carousel-item__button carousel-item__button--see-similar">See similar</a>

		<div class="overlay">

			<p class="clicky"></p>

		</div>

	</div> 

</div>
