
<!--  style senses -->

<style type="text/css">
	
.playback {
	display: none;
}

/* Keep the above when live */


/*
.playback {
	display: block;
	z-index: 2;
	width: 100%;

	.interstitial { display:none; }
}

.personality .style-sense {
	position: relative;
	height: inherit;
	border-bottom: 5px solid #ccc;
	padding: 30px 0;

	h3 span { display: inline-block !important; }
}

.playback-bubble {
	display: block;
	width: 170px;
	height: 170px;
}

.lob-callout { display:block !important; }*/




</style>
	
<div class="lob-callout" style="position: absolute; top: 0; background: red; z-index: 1000; display: none;">{{ page.lob }}</div>


<div class="style-shuffle-item playback"  >

	<div class="interstitial">
	<h1>Your results are in!</h1>

	<span class="progress">scroll</span>
	</div>
<!-- 
	<h3 style="font-weight: 600;">All done!</h3>
	<p>Please return to the survey<br /> to continue.</p> -->

	<!-- <h6 class="eyebrow">StyleFile</h6> -->
	
	



{% include bubbles.html %}

{% include personas.html %}

{% include give-get.html %}

