
<div class="style-shuffle-item interstitial retrospective-slide retro-7">

	<h1>Now, what’s your opinion on these trends?</h1>

	<span class="progress">scroll</span>

		<div class="style-shuffle-item interstitial retrospective-slide retro-6">

			<h3>We especially loved these awesome jeans you kept</h3>

			<hr>

			<div style="text-align: center;"><img src="{{ site.baseurl }}/assets/images/trends/jeans.png" width="150px" /></div>

			<span class="progress">scroll</span></h2>


				<div class="style-shuffle-item interstitial retrospective-slide retro-5">

				<h2>You bought 5 items <hr>🛍️</h2>

				<span class="progress">scroll</span>



					<div class="style-shuffle-item interstitial retrospective-slide retro-4">

					<h2>You saved 13 items <hr>❤️ ❤️ ❤️</h2>

					<span class="progress">scroll</span>



						<div class="style-shuffle-item interstitial retrospective-slide retro-3">

						<h2>We appreciated your 564 👎's, they help us learn</h2>

						<span class="progress">scroll</span>



							<div class="style-shuffle-item interstitial retrospective-slide retro-2">

							<h2>Since last time, you rated 843 items <hr> 👍 👎</h2>

							<span class="progress">scroll</span>



								<div class="style-shuffle-item interstitial retrospective-slide retro-1">

								<h1>Let’s check in on where we are..</h1>

								<span class="progress">scroll</span>






</div>
</div>
</div>
</div>
</div>
</div>
</div>
