<div class="sense-page subsense subsense-0{{ x }}">


	<div class="search"><div class="search-input">{{ item }}</div></div>


	<div class="sub-nav">

		<div class="sub-nav-container ">
			
			  <a href="#" class="open-subsense-0{{ i }}">related tag</a>	
			  <a href="#" class="open-subsense-0{{ i }}">tag</a>			
			  <a href="#" class="open-subsense-0{{ i }}">tag</a>			
			  <a href="#" class="open-subsense-0{{ i }}">tag</a>			
			  <a href="#" class="open-subsense-0{{ i }}">tag</a>			
			  <a href="#" class="open-subsense-0{{ i }}">tag</a>			
			  <a href="#" class="open-subsense-0{{ i }}">tag</a>			
			  <a href="#" class="open-subsense-0{{ i }}">you get the idea</a>			

		</div>

	</div>


	<div class="style-tips">	

		Description and tips about {{ item }} styles.

	</div>


	<div class="feed">
		
		{% include item.html %}{% include item.html %}{% include item.html %}{% include item.html %}{% include item.html %}{% include item.html %}{% include item.html %}{% include item.html %}

	</div>


</div>