---
layout: page
lob: w
published: false
--- 


<style type="text/css">
	

.prototype_tag {
	font-size: 0.8rem;
	background: #D8F7F1;
	padding: 0.2rem 0.5rem;
	border-radius: 20px;
	display: inline-block;
	margin: 0.1rem 0.1rem 0.1rem 0;
}

</style>

<div style="padding: 50px;">

{% for person in site.data.clients.client %}


client {{ person.client_id }} {{ person.client_name }} 


       <!-- loping through the experience data -->
      
    
<div class="playback-bubbles">

	{% assign senses = person.senses | sort: 'size'  %}

	  
	  {% for sense in senses reversed %}

    
         {% assign dimention = sense.size | plus: 1.087 | times: 50  %}


				<div class="playback-bubble playback-bubble-{{ sense.sense }} {{ page.lob }} {{ post.lob }} " value='0' style="display: inline-block; height: {{ dimention }}px; width: {{ dimention  }}px; min-width: 0px; min-height: 0px;">

					<span><span>{{ sense.sense | downcase }}</span></span>
					
					<div class="sense-details">

						<div class="sense-details-fadein">

							<h5><span>{% if page.lob == 'm' and sense.sense  == 'heritage' %}rugged{% else %}{{ sense.sense | downcase }}{% endif%}</span></h5>

							{% if page.lob == 'w' %}

								<p>{{ post.w-description }}</p>

							{% else %}
								
								<p>{{ post.m-description }}</p>

							{% endif %}

							<!-- <a href="https://www.stitchfix.com/search?q={{ post.title | downcase }}" target="_blank">Shop {{ post.title | downcase }}</a> -->

						</div>

					</div>
				</div>


	{% endfor %}

</div>
{% endfor %}


Feedback? Ideas? Ping @torunn on slack! -->

</div>