---
layout: page
--- 

<div class="toast saved-items">Saved!</div>

<div class="module">

<h5>Version 1: simple ratings</h5>


	<div class="carousel">
		{% include carousel.html %}
	</div>


	<div class="carousel with-color-swatches">
		{% include carousel.html %}
	</div>

</div>


<div class="module  thumbs-up-shop-similar thumbs-down-playback">

	<h5>Version 2: ratings + immediate playback</h5>
		
	<div class="carousel">
		{% include carousel.html %}
	</div>


	<div class="carousel with-color-swatches">
		{% include carousel.html %}
	</div>

</div>

<div class="module see-similar">

	<h5>Version 3: see similar</h5>
		
	<div class="carousel">
		{% include carousel.html %}
	</div>


	<div class="carousel with-color-swatches">
		{% include carousel.html %}
	</div>

</div>

<br /><br /><br />