---
layout: page
--- 


<!--  style senses -->
<div class="module">

	

	{% for post in site.categories['senses'] reversed %} 

		<h5>{{ post.title }}</h5>

		{% assign sense_tag = post.title | downcase %}

		<div class="style-tips">	

			{{ post.content }}
		</div>


		
		<div class="carousel with-color-swatches thumbs-up-shop-similar thumbs-down-playback">
			<div class="carousel-container">

			{% for post in site.categories['senses-items'] reversed %} 


				{% assign item_tag = post.date | date: "%m%d" %}

				{% if post.senses contains sense_tag %}

					{% include item-and-similar-items.html %}

				{% endif %}

			{% endfor %}

</div>


		</div>


	{% endfor %}

</div>
