---
layout: page
--- 

<!--  style senses -->


	

{% for post in site.categories['senses'] reversed %} 


	{% assign sense_name = post.title | downcase %}

	{% assign sense_tag = post.url | date: "%d" %}

	<div class="sense-page sense-{{ sense_tag }} {{ post.title | downcase }}">

		<div class="search"><div class="search-input">{{ post.title }}</div></div>

		<div class="sub-nav">

			<div class="sub-nav-container ">

				{% assign i = 0 %}
				{% for item in post.alternatives %}
				{% assign i = i | plus:1 %}
				  <a href="#" class="open-subsense-0{{ i }}">{{ item }}</a>
				{% endfor %}

			</div>

		</div>

		{% assign x = 0 %}
		{% for item in post.alternatives %}
		{% assign x = x | plus:1 %}
		  {% include subsense.html %}
		{% endfor %}

		


		<div class="style-tips">	

			{{ post.content }}

		</div>
	
		<div class="feed">
			

			{% for post in site.categories['senses-items'] reversed %} 


				{% assign item_tag = post.date | date: "%m%d" %}

				{% if post.senses contains sense_name %}

					{% include item.html %}

				{% endif %}

			{% endfor %}

		</div>

	</div>

{% endfor %}





<div class="sense-page default active">


	<div class="search"><div class="search-input">&nbsp;</div></div>

	<div class="sub-nav">

		<div class="sub-nav-container ">

			{% for post in site.categories['senses'] reversed %}

			{% assign sense_tag = post.url | date: "%d" %}
				
				<a href="#" class="open-sense open-{{ sense_tag }}">{{ post.title | downcase }}</a>
			
			{% endfor %}

		</div>

	</div>


	<div class="hello-greeting">Your personalized shop is unique to you & never the same as someone else's</div>



	<div class="feed">	

		{% for post in site.categories['senses-items'] reversed %} 

				{% include item.html %}

		{% endfor %}

	</div>



</div>


<div class="nav-overlay">


	<div class="search"><div class="search-input">&nbsp;</div></div>

	<div class="promos">


		{% for post in site.categories['senses'] reversed limit: 9 %}


		{% assign sense_tag = post.url | date: "%d" %}
			
			<a href="#" class="open-sense open-{{ sense_tag }} promo"><span>{{ post.title | downcase }}</span></a>
		
		{% endfor %}

	</div>


</div>
