---
layout: page
--- 

<!--  style senses -->


	


<div class="style-shuffle-item playback" >
<!-- 
	<h3 style="font-weight: 600;">All done!</h3>
	<p>Please return to the survey<br /> to continue.</p> -->
	
	<h3 style="font-weight: 600; margin-bottom: 0.6rem;">Your style is multi-layered!</h3>
	<p style="font-size: 0.8rem">(Please review your results below, then go back to the survey)</p>

	<div class="playback-bubbles">

		{% for post in site.categories['senses'] reversed %} 

			{% assign sense_name = post.title | downcase %}

			{% assign sense_tag = post.url | date: "%d" %}

			<div class="playback-bubble playback-bubble-{{ sense_tag }} playback-bubble-{{ sense_name }}" value='0' width='0' height='0'><span>{{ post.title | downcase }}</span></div>

		{% endfor %}

	</div>

<!-- 	<div style="display: block; clear: both; background: lemonchiffon; padding: 20px; margin-top: 30px;">

		<h3 style="font-weight: 600;">That's it! </h3>

		<p>Please go to the next task. </p>

	</div> -->

</div>


{% include give-get.html %}

