---
layout: page
--- 

<!--  style senses -->

<div class="scale-quiz">


		<div class="scale-quiz-page scale-playback">


		<h6 class="scale-quiz-title">Your taste is unique—only 4% of our clients match your aesthetic</h6>

		<div class="scale-playback-limiter">

		{% for post in site.categories['senses'] reversed %} 

			{% assign sense_name = post.title | downcase %}

			{% assign sense_tag = post.url | date: "%d" %}

			<span class="playback-bubble playback-{{ sense_tag }}">{{ post.title | downcase }}</span>



		{% endfor %}

		</div>

		</div>



			{% for post in site.categories['senses'] reversed %} 

				{% assign sense_name = post.title | downcase %}

				{% assign sense_tag = post.url | date: "%d" %}

					<div class="scale-quiz-page {{ sense_name }} sense{{ sense_tag }}">

						<h6 class="scale-quiz-title">How <bold>{{ post.title | downcase }}</bold> is your style? </h6>

						<div class="scale-quiz-selects">

							<a class="scale-quiz-select sense-{{ sense_tag }} rating-little">

								<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-little.jpg" >

								<span class="scale-quiz-rating"><span class="scale-quiz-label">A little bit</span></span>

							</a>

							<a class="scale-quiz-select sense-{{ sense_tag }} rating-somewhat">

								<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-somewhat.jpg" >

								<span class="scale-quiz-rating"><span class="scale-quiz-label">Somewhat</span></span>

							</a>

							<a class="scale-quiz-select sense-{{ sense_tag }} rating-very">

								<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-very.jpg" >

								<span class="scale-quiz-rating"><span class="scale-quiz-label">Very</span></span>

							</a>

						</div>

						<div class="skip-category skip{{ sense_tag }}"><a href="#">I don't dress {{ sense_name }}</a></div>

					</div>

			{% endfor %}



</div>