---
layout: page
--- 

<!--  style senses -->

<div class="module">

	<h5>Style shuffle</h5>

	



	<div class="carousel">

		<div class="carousel-container">

			{% for post in site.categories['senses'] reversed %} 

				{% assign sense_name = post.title | downcase %}

				{% assign sense_tag = post.url | date: "%d" %}

					<div class="carousel-item carousel-item-cover">


						<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-very.jpg" class="carousel-cover">

						<h6 class="carousel-title">How {{ post.title | downcase }} is your style? </h6>
		


						<div class="style-shuffle-pack style-shuffle-pack{{ sense_tag }}">


							<div class="style-shuffle-pack-wrapper">

									<h6 class="results-title">Your results</h6>
									
									<div class="progress-bar html">
										<progress class="style-profile-ui__progressbar__progress{{ sense_tag }} progress-bar"  min="0" max="100" value="0"></progress>
									</div>

									<div class="carousel with-color-swatches thumbs-up-shop-similar thumbs-down-playback">
										{% include item-carousel.html %}
									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-1.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-2.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>

									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-3.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-4.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-5.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-very.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>
									
									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-somewhat.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>
									
									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-little.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='15'><span>Thumbs up</span></a>
										</div>

									</div>

							

							<a href="" class="style-shuffle-pack-close">Close</a>

						</div>
						</div>

					</div>

			{% endfor %}

		</div>

	</div>

</div>