---
layout: page
--- 

<div class="toast saved-items">Saved!</div>

<!--  style senses -->
<div class="module">

	

	{% for post in site.categories['senses'] reversed %} 

		<h5>{{ post.title }}</h5>

		{% assign sense_tag = post.title | downcase %}

		<div class="style-tips">	

			{{ post.content }}
		</div>


		
		<div class="carousel with-color-swatches thumbs-up-shop-similar thumbs-down-playback">
			
			<div class="carousel-container">

			{% for post in site.categories['senses-items'] reversed %} 


				{% assign item_tag = post.date | date: "%m%d" %}

				{% if post.senses contains sense_tag %}

					{% include item.html %}

				{% endif %}

			{% endfor %}





			<div class="carousel-item {% if post.category == 'shop-similar-items' %} shop-similar-item {% endif %} ">

			<!-- <div style="position: absolute; z-index: 3;">{{ tip_tag }} {{ post.url | date: "%m" }}	</div> -->


				<svg class="carousel-item--loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(242, 243, 244); display: block; shape-rendering: auto;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" fill="none" stroke="#81E6D3" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"><animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform></circle></svg>
					

				<div class="carousel-item-content">

					<div class="carousel-item__image">

					</div>

					<div class="carousel-item__details">



					

					</div>



					

						<a href="#" class="carousel-item__button carousel-item__button--cta">More {{ post.title | downcase }} styles</a>

					<div class="overlay">

						<p class="clicky"></p>

					</div>

				</div> 

			</div>



			</div>


		</div>


	{% endfor %}

</div>
