---
layout: page
published: false
--- 

<!--  style senses -->


	



	<div class="carousel" style="padding-top: 100px">

		<div style="position: absolute;top: 130px; left: 0; right: 0;">

	{% include wrap-up.html %}

	</div>

		<div class="carousel-container">

			{% for post in site.categories['senses'] reversed %} 

				{% assign sense_name = post.title | downcase %}

				{% assign sense_tag = post.url | date: "%d" %}

					<div class="carousel-item carousel-item-cover">


						<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-very.jpg" class="carousel-cover">

						<h6 class="carousel-title">How {{ post.title | downcase }} is your style? </h6>
		


						<div class="style-shuffle-pack style-shuffle-pack{{ sense_tag }}">


							<div class="style-shuffle-pack-wrapper">

									<h6 class="results-title"><span>Your {{ post.title | downcase }} score</span></h6>
									<div class="results-feedback">

										<!-- Does that seem right to you?

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"><span>Thumbs up</span></a>
										</div> -->

									<a href="#" class="style-shuffle-summary-button">Next</a>

									</div>
									
									<div class="style-profile-ui__progressbar">
										<progress class="style-profile-ui__progressbar__progress{{ sense_tag }}" value='0' max='100'></progress>
									</div>

									<div class="carousel with-color-swatches thumbs-up-shop-similar thumbs-down-playback">
										{% include item-carousel.html %}
									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-1.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='20'><span>Thumbs up</span></a>
										</div>

									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-2.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='20'><span>Thumbs up</span></a>
										</div>

									</div>


									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-very.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='20'><span>Thumbs up</span></a>
										</div>

									</div>
									
									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-somewhat.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='20'><span>Thumbs up</span></a>
										</div>

									</div>
									
									<div class="style-shuffle-item">

										<h5 class="style-shuffle-title">Is this your style? </h5>

										<img src="{{ site.baseurl }}/assets/images/style-senses/{{ sense_name }}-little.jpg" />

										<div class="style-shuffle-ratings">
											<a href="#" class="style-shuffle-rating thumbs-down" ><span>Thumbs down</span></a>
											<a href="#" class="style-shuffle-rating thumbs-up"  data-diff='20'><span>Thumbs up</span></a>
										</div>

									</div>

							

							<a href="" class="style-shuffle-pack-close">Close</a>

						</div>
						</div>

					</div>

			{% endfor %}

		</div>

	</div>

</div>